In [126]:
from pprint import pprint
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import requests
from bs4 import BeautifulSoup as bs
import xml.etree.ElementTree as ET
%matplotlib inline

In [22]:
url_root = 'https://www.usada.org/uploads/web_hist_files/xml/'
years = list(range(2015,2019))

urls = [url_root + str(yr) + 'all.xml' for yr in years]
yr_bytes = [requests.get(u).content for u in urls]
# bytes_2018 = requests.get(url_2018).content
# xml_2018 = bytes_2018.decode('utf16')

In [29]:
print(urls)

['https://www.usada.org/uploads/web_hist_files/xml/2015all.xml', 'https://www.usada.org/uploads/web_hist_files/xml/2016all.xml', 'https://www.usada.org/uploads/web_hist_files/xml/2017all.xml', 'https://www.usada.org/uploads/web_hist_files/xml/2018all.xml']

In [28]:
for y in yr_bytes:
    print(y[:200])
    print('\n\n')

b'<TestHistory><TREC><YR>2015</YR><QTR>All</QTR><AName>Madeline Aaron</AName><NumTests>2</NumTests><Sport>Figure Skating</Sport><AFN>Madeline</AFN><ALN>Aaron</ALN></TREC><TREC><YR>2015</YR><QTR>All</QTR'



b'\xff\xfe<\x00T\x00e\x00s\x00t\x00H\x00i\x00s\x00t\x00o\x00r\x00y\x00>\x00<\x00T\x00R\x00E\x00C\x00>\x00<\x00Y\x00R\x00>\x002\x000\x001\x006\x00<\x00/\x00Y\x00R\x00>\x00<\x00Q\x00T\x00R\x00>\x00A\x00l\x00l\x00<\x00/\x00Q\x00T\x00R\x00>\x00<\x00A\x00N\x00a\x00m\x00e\x00>\x00J\x00e\x00s\x00s\x00i\x00c\x00a\x00 \x00(\x00P\x00i\x00x\x00l\x00e\x00r\x00)\x00 \x00T\x00e\x00b\x00o\x00<\x00/\x00A\x00N\x00a\x00m\x00e\x00>\x00<\x00N\x00u\x00m\x00T\x00e\x00s\x00t\x00s\x00>\x001\x00<\x00/\x00N\x00u\x00m\x00T\x00'



b'\xff\xfe<\x00T\x00e\x00s\x00t\x00H\x00i\x00s\x00t\x00o\x00r\x00y\x00>\x00<\x00T\x00R\x00E\x00C\x00>\x00<\x00Y\x00R\x00>\x002\x000\x001\x007\x00<\x00/\x00Y\x00R\x00>\x00<\x00Q\x00T\x00R\x00>\x00A\x00l\x00l\x00<\x00/\x00Q\x00T\x00R\x00>\x00<\x00A\x00N\x00a\x00m\x00e\x00>\x00M\x00a\x00x\x00 \x00A\x00a\x00r\x00o\x00n\x00<\x00/\x00A\x00N\x00a\x00m\x00e\x00>\x00<\x00N\x00u\x00m\x00T\x00e\x00s\x00t\x00s\x00>\x003\x00<\x00/\x00N\x00u\x00m\x00T\x00e\x00s\x00t\x00s\x00>\x00<\x00S\x00p\x00o\x00r\x00t\x00>\x00'



b'\xff\xfe<\x00T\x00e\x00s\x00t\x00H\x00i\x00s\x00t\x00o\x00r\x00y\x00>\x00<\x00T\x00R\x00E\x00C\x00>\x00<\x00Y\x00R\x00>\x002\x000\x001\x008\x00<\x00/\x00Y\x00R\x00>\x00<\x00Q\x00T\x00R\x00>\x00A\x00l\x00l\x00<\x00/\x00Q\x00T\x00R\x00>\x00<\x00A\x00N\x00a\x00m\x00e\x00>\x00K\x00a\x00i\x00t\x00l\x00i\x00n\x00 \x00(\x00A\x00n\x00t\x00o\x00n\x00n\x00e\x00a\x00u\x00)\x00 \x00K\x00e\x00o\x00u\x00g\x00h\x00<\x00/\x00A\x00N\x00a\x00m\x00e\x00>\x00<\x00N\x00u\x00m\x00T\x00e\x00s\x00t\x00s\x00>\x001\x00<\x00'

In [196]:
roots = {}
athletes = {}
dfs = {}

# Create dict of xml root elements for each year. 
for i, y in enumerate(years):
    roots[y] = ET.fromstring(yr_bytes[i])
    athletes[y] = []
    
    # Filter by sport to create list of athlete dicts for each year.
    for child in roots[y]:
        player_dict = {
            'year': child[0].text,
            'sport': child[4].text,
            'fname': child[5].text,
            'lname': child[6].text,
            'tests': child[3].text
        }
        athletes[y].append(player_dict)
        
    # Create dataframe for each year
    dfs[y] = pd.DataFrame(athletes[y])
    dfs[y] = dfs[y].astype({'tests': 'int64', 'year': 'int64'})

In [198]:
for y in years:
    print(dfs[y].head(), '\n')

      fname    lname              sport  tests  year
0  Madeline    Aaron     Figure Skating      2  2015
1       Max    Aaron     Figure Skating      3  2015
2   Stephen     Abas          Wrestling      1  2015
3     Mason  Abbiate  Paralympic Soccer      1  2015
4    Jeremy   Abbott     Figure Skating      1  2015

      fname          lname              sport  tests  year
0   Jessica  (Pixler) Tebo    Track and Field      1  2016
1  Madeline          Aaron     Figure Skating      1  2016
2       Max          Aaron     Figure Skating      2  2016
3     Mason        Abbiate  Paralympic Soccer      1  2016
4      Mara         Abbott            Cycling      8  2016

       fname         lname                 sport  tests  year
0        Max         Aaron        Figure Skating      3  2017
1       Mara        Abbott               Cycling      5  2017
2     Taylor        Abbott              Swimming      2  2017
3  Abdihakim    Abdirahman       Track and Field     10  2017
4     Hakeem  Abdul Saboor  Bobsled and Skeleton      1  2017

       fname               lname               sport  tests  year
0    Kaitlin  (Antonneau) Keough             Cycling      1  2018
1       Mara              Abbott             Cycling      1  2018
2     Taylor              Abbott            Swimming      1  2018
3  Abdihakim          Abdirahman     Track and Field      3  2018
4     Daichi                 Abe  Mixed Martial Arts      1  2018

In [199]:
for d in df.values():
    print(d.loc[d.sport == 'Mixed Martial Arts', :].sort_values('tests', ascending=False).head(10), '\n')
    print(d.loc[d.sport == 'Mixed Martial Arts', :].sort_values('tests', ascending=True).head(10), '\n')

        fname      lname               sport tests  year
2564    Ronda     Rousey  Mixed Martial Arts     8  2015
29       Jose       Aldo  Mixed Martial Arts     8  2015
1990    Conor   McGregor  Mixed Martial Arts     8  2015
1282      Dan  Henderson  Mixed Martial Arts     7  2015
1371    Holly       Holm  Mixed Martial Arts     7  2015
647   Antonio   Da Silva  Mixed Martial Arts     7  2015
2536     Yoel     Romero  Mixed Martial Arts     6  2015
2509     Luke   Rockhold  Mixed Martial Arts     6  2015
774    Rafael  Dos Anjos  Mixed Martial Arts     6  2015
184     Vitor    Belfort  Mixed Martial Arts     6  2015

       fname      lname               sport tests  year
24     Omari   Akhmedov  Mixed Martial Arts     1  2015
2169     Roy     Nelson  Mixed Martial Arts     1  2015
2121  Gegard    Mousasi  Mixed Martial Arts     1  2015
2083  Takeya   Mizugaki  Mixed Martial Arts     1  2015
1967  Tamdan    McCrory  Mixed Martial Arts     1  2015
1931   Jorge   Masvidal  Mixed Martial Arts     1  2015
1904    Nate  Marquardt  Mixed Martial Arts     1  2015
1868   Fabio  Maldonado  Mixed Martial Arts     1  2015
1863  Ruslan  Magomedov  Mixed Martial Arts     1  2015
1853    Reza     Madadi  Mixed Martial Arts     1  2015

           fname         lname               sport tests  year
451         Josh       Burkman  Mixed Martial Arts     9  2016
3291    Aljamain      Sterling  Mixed Martial Arts     9  2016
427       Travis        Browne  Mixed Martial Arts     9  2016
1700  Demetrious       Johnson  Mixed Martial Arts     9  2016
1711     Michael       Johnson  Mixed Martial Arts     9  2016
2512      Khabib  Nurmagomedov  Mixed Martial Arts     9  2016
2945         Ben      Rothwell  Mixed Martial Arts     9  2016
2947       Ronda        Rousey  Mixed Martial Arts     9  2016
190        Edson       Barboza  Mixed Martial Arts     9  2016
2304        Chad        Mendes  Mixed Martial Arts     9  2016

         fname     lname               sport tests  year
1918      Ryan   LaFlare  Mixed Martial Arts     1  2016
1906    Kiichi  Kunimoto  Mixed Martial Arts     1  2016
1923      Noad     Lahat  Mixed Martial Arts     1  2016
3387    Thiago   Tavares  Mixed Martial Arts     1  2016
1956     Jenel     Lausa  Mixed Martial Arts     1  2016
643       Jake   Collier  Mixed Martial Arts     1  2016
615      Mitch    Clarke  Mixed Martial Arts     1  2016
2026  Hyun Gyu       Lim  Mixed Martial Arts     1  2016
3370   Mairbek  Taisumov  Mixed Martial Arts     1  2016
2059    Dileno     Lopes  Mixed Martial Arts     1  2016

               fname        lname               sport tests  year
115          Raphael     Assuncao  Mixed Martial Arts     9  2017
3052  Ronaldo Jacare        Souza  Mixed Martial Arts     9  2017
1479             Max     Holloway  Mixed Martial Arts     9  2017
1116         Claudia      Gadelha  Mixed Martial Arts     9  2017
2404          Volkan     Oezdemir  Mixed Martial Arts     9  2017
1430          Felice       Herrig  Mixed Martial Arts     9  2017
3070         Georges    St-Pierre  Mixed Martial Arts     9  2017
3417           Chris      Weidman  Mixed Martial Arts     9  2017
1587          Joanna  Jedrzejczyk  Mixed Martial Arts     9  2017
1820         Ricardo        Lamas  Mixed Martial Arts     9  2017

        fname         lname               sport tests  year
5      Shamil  Abdurakhimov  Mixed Martial Arts     1  2017
1500    Kyoji     Horiguchi  Mixed Martial Arts     1  2017
1582     Rony         Jason  Mixed Martial Arts     1  2017
1720     Adam       Khaliev  Mixed Martial Arts     1  2017
1788   Pascal        Krauss  Mixed Martial Arts     1  2017
1843   Lorenz        Larkin  Mixed Martial Arts     1  2017
1887   Andrea     Lee Aaron  Mixed Martial Arts     1  2017
1899   Amanda         Lemos  Mixed Martial Arts     1  2017
1905  Valerie    Letourneau  Mixed Martial Arts     1  2017
2001   Rashid     Magomedov  Mixed Martial Arts     1  2017

          fname           lname               sport tests  year
1697       Yoel          Romero  Mixed Martial Arts     7  2018
546      Rafael       Dos Anjos  Mixed Martial Arts     6  2018
582       Frank           Edgar  Mixed Martial Arts     6  2018
2148      Tyron         Woodley  Mixed Martial Arts     6  2018
1011  Cristiane         Justino  Mixed Martial Arts     5  2018
2024  Alexander          Volkov  Mixed Martial Arts     5  2018
790       Chris   Gruetzemacher  Mixed Martial Arts     5  2018
873       Paulo  Henrique Costa  Mixed Martial Arts     5  2018
2075   Fabricio          Werdum  Mixed Martial Arts     5  2018
1722     Ovince     Saint Preux  Mixed Martial Arts     5  2018

       fname    lname               sport tests  year
4     Daichi      Abe  Mixed Martial Arts     1  2018
1170   Artem    Lobov  Mixed Martial Arts     1  2018
1143  Amanda    Lemos  Mixed Martial Arts     1  2018
1141  Thales   Leites  Mixed Martial Arts     1  2018
1132  Justin    Ledet  Mixed Martial Arts     1  2018
1125     Joe   Lauzon  Mixed Martial Arts     1  2018
1104    Ryan  LaFlare  Mixed Martial Arts     1  2018
1077   Syuri    Kondo  Mixed Martial Arts     1  2018
1070   Jason   Knight  Mixed Martial Arts     1  2018
1047  Jeremy  Kimball  Mixed Martial Arts     1  2018

In [223]:
# Filter to mma only and combine into 1 df
mma = pd.concat([df.loc[df.sport=='Mixed Martial Arts',:] for df in dfs.values()], axis=0)\
    .drop('sport', axis=1)

In [224]:
mma.head()

     fname     lname  tests  year
24   Omari  Akhmedov      1  2015
29    Jose      Aldo      8  2015
41   Eddie   Alvarez      2  2015
44  Thiago     Alves      5  2015
50   Corey  Anderson      1  2015

In [225]:
mma.groupby('year').agg([np.mean, np.sum, len])

         tests
          mean   sum  len
year
2015  2.262821   353  156
2016  3.907850  2290  586
2017  4.524880  2819  623
2018  2.060329  1127  547

In [215]:
mma.loc[mma.lname == 'Elkins']

       fname   lname               sport  tests  year
1000  Darren  Elkins  Mixed Martial Arts      6  2016
948   Darren  Elkins  Mixed Martial Arts     11  2017
590   Darren  Elkins  Mixed Martial Arts      3  2018